*.o
*.lo
*.a
*.la
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
libtool
ltmain.sh
missing
pic/Makefile
pic/Makefile.in
stamp-h1
util/.deps/
util/.libs/
util/Makefile
util/Makefile.in
util/gif2ps
util/gif2rgb
util/gif2x11
util/gifasm
util/gifbg
util/gifclip
util/gifclrmp
util/gifcolor
util/gifcomb
util/giffiltr
util/giffix
util/gifflip
util/gifhisto
util/gifinfo
util/gifinter
util/gifinto
util/gifovly
util/gifpos
util/gifrotat
util/gifrsize
util/gifspnge
util/giftext
util/gifwedge
util/icon2gif
util/raw2gif
util/rgb2gif
util/text2gif
