*.o
*.lo
*.a
*.la
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
libtool
ltmain.sh
missing
pic/Makefile
pic/Makefile.in
stamp-h1
doc/gif2raw.1
doc/gif2raw.html
doc/gif2rgb.1
doc/gif2rgb.html
doc/gif2x11.1
doc/gif2x11.html
doc/gif_lib.html
doc/gifasm.1
doc/gifasm.html
doc/gifbg.1
doc/gifbg.html
doc/gifbuild.1
doc/gifbuild.html
doc/gifclip.1
doc/gifclip.html
doc/gifclrmp.1
doc/gifclrmp.html
doc/gifcolor.1
doc/gifcolor.html
doc/gifcomb.1
doc/gifcomb.html
doc/gifecho.1
doc/gifecho.html
doc/giffilter.1
doc/giffilter.html
doc/giffix.1
doc/giffix.html
doc/gifflip.1
doc/gifflip.html
doc/gifhisto.1
doc/gifhisto.html
doc/gifinter.1
doc/gifinter.html
doc/gifinto.1
doc/gifinto.html
doc/gifovly.1
doc/gifovly.html
doc/gifpos.1
doc/gifpos.html
doc/gifresize.1
doc/gifresize.html
doc/gifrotate.1
doc/gifrotate.html
doc/gifsponge.1
doc/gifsponge.html
doc/giftext.1
doc/giftext.html
doc/giftool.1
doc/giftool.html
doc/gifwedge.1
doc/gifwedge.html
doc/intro.html
doc/staging/
util/.deps/
util/.libs/
util/Makefile
util/Makefile.in
util/gif2raw
util/gif2rgb
util/gif2x11
util/gifasm
util/gifbg
util/gifbuild
util/gifclip
util/gifclrmp
util/gifcolor
util/gifcomb
util/gifecho
util/giffilter
util/giffix
util/gifflip
util/gifhisto
util/gifinter
util/gifinto
util/gifovly
util/gifpos
util/gifresize
util/gifrotate
util/gifsponge
util/giftext
util/giftool
util/gifwedge
