*.o
*.lo
*.a
*.la
*.so
*.so.*
gif2raw
gif2rgb
gifasm
gifbg
gifbuild
gifclrmp
gifcolor
gifecho
giffilter
giffix
gifhisto
gifinto
gifsponge
giftext
giftool
gifwedge
doc/gif2raw.1
doc/gif2raw.html
doc/gif2rgb.1
doc/gif2rgb.html
doc/gif2x11.1
doc/gif2x11.html
doc/gif_lib.html
doc/gifbg.1
doc/gifbg.html
doc/gifbuild.1
doc/gifbuild.html
doc/gifclrmp.1
doc/gifclrmp.html
doc/gifcolor.1
doc/gifcolor.html
doc/gifecho.1
doc/gifecho.html
doc/giffilter.1
doc/giffilter.html
doc/giffix.1
doc/giffix.html
doc/gifhisto.1
doc/gifhisto.html
doc/gifinto.1
doc/gifinto.html
doc/giflib.1
doc/giflib.html
doc/gifsponge.1
doc/gifsponge.html
doc/giftext.1
doc/giftext.html
doc/giftool.1
doc/giftool.html
doc/gifwedge.1
doc/gifwedge.html
doc/intro.html
doc/staging/
